body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, e2e2e2, yellow);
  transition: all 1s ease;
  cursor: none;
}
/* Body toggle */
.body-dark {
  background: black;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px double #000;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: 0.1s all;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
}

.cursor-dark {
  border: 2px double white;
  background: white;
  filter: drop-shadow(1px 1px 5px white);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vw;
}

h1.heading {
  font-size: 105px;
  font-family: "Playfair Display", serif;
  transition: 1s ease;
}

.sun-above {
  position: absolute;
  font-size: 100px;
  color: orange;
  transition: 0.5s ease;
  z-index: 9;
}

.sun-dark {
  opacity: 0;
  transform: translateY(50px);
}

.moon-above {
  font-size: 100px;
  color: white;
  width: 100%;
  transform: rotate(-50deg);
  transform: translateX(150px);
  transform: translateY(50px);
  transition: all 0.5s ease;
  opacity: 0;
}

.moon-dark {
  transform: translateX(0px);
  opacity: 1;
}

.heading-dark {
  color: black;
  -webkit-text-stroke: 1px white;
}

.dn-switch {
  background: none;
  display: flex;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: none;
  transition: 0.5s;
}

.dn-switch:focus {
  outline: none;
}

/* Switch border toggle */

.light {
  color: orange;
  margin-right: 10px;
  font-size: 18px;
  transition: 0.5s ease;
}

.dark {
  margin-left: 10px;
  font-size: 18px;
  transition: 0.5s ease;
}

/* Za toggle */

.light-to-dark {
  color: white;
}

/* Mobile */

@media only screen and (max-width: 1440px) {
  .hero {
    height: 90vh;
  }
}

@media only screen and (max-width: 978px) {
  body {
    height: 100vh;
  }

  .hero {
    height: 90vh;
  }

  h1.heading {
    font-size: 80px;
  }
}

@media only screen and (max-width: 481px) {
  .hero {
    height: 90vh;
  }

  h1.heading {
    font-size: 45px;
  }
}
